*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smothing: antialiased;
}
:root{
    --yellow: #FFF804;
    --blue: #E280FF;
    --black: #000000;
    --grey: #81836C;
    --dark-grey: #497775;
    --white: #ffffff;
    font-size: 16px;
}
.app-wraper{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--white);
    overflow: hidden;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
}
.left-nav{
    width: 350px;
    height: 100%;
    display: flex;
    align-items: flex-start;
}
.nav-img-wraper{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo{
    width: 70px;
    height: 70px;
    cursor: pointer;
}
.nav-name{
    width: calc(100% - 100px);
    height: 100%;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.nav-center{
    width: calc(85% - 350px);
    height: 100%;
    display: flex;
    justify-content: start;
}
.nav-p-wraper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 2rem;
}
.nav-p{
    font-size: 1rem;
    transition: 0.2s;
    font-weight: 700;
}
.nav-search{
    height: 30px;
    width: auto;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.2s;
}
.nav-search::placeholder{
    color: var(--black);
    font-size: 1rem;
    font-weight: 700;
}
.right-nav {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: end;
}
.log-wraper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: 0.2s;
    cursor: pointer;
    margin-right: 2rem;
}
.nav-button-wraper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}
.nav-button{
    padding: 1rem 2em;
    background-color: var(--black);
    border-radius: 2em 2em 2em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;

}
.nav-button:hover{
    background-color: var(--grey);
}
.white{
    color: var(--white);
}
main {
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
}
.banner{
    height: calc(100% - 200px);
    width: 100%;
    position: relative;
}
.banner-text-wraper{
    width: 50%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2em;
}
.square-text-banner{
    border: 3px solid var(--black);
    padding: 0.5em;
    font-size: 1rem;
    font-weight: 700;
}
.text-banner{
    padding: 0.5em 0;
    font-size: 3rem;
    font-weight: 700
}
.bonus-text-banner{
    font-size: 1.5rem;
    font-weight: 600;
}
.top-poster-wraper {
    background-color: var(--blue);
    border: 2px solid var(--black);
    height: calc(100vh + 100px);
    width: 42%;
    position: absolute;
    top: 150px;
    left: 50%;
    transition: 0.7s;
    z-index: 3;
}
.top-poster-wraper-on{
    transform: rotate(-5deg);
}
.top-poster{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.middle-poster-wraper{
    background-color: var(--yellow);
    border: 2px solid var(--black);
    height: calc(100vh + 100px);
    width: 42%;
    position: absolute;
    left: 200px;
    top: 40%;
    z-index: 2;
    transition: 0.8s;
}
.middle-poster-wraper-on{
    transform: rotate(5deg);
}
.middle-poster{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.bar{
    height: 200px;
    width: 100%;
    border-bottom: 2px solid var(--black);
    border-top: 2px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-bar{
    font-size: 2.5rem;
}
.tile-section-1{
    width: 100%;
    height: 200vh;
    display: flex;
    flex-wrap: wrap;
}
.tile{
    width: 50%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.dark-grey{
    background-color: var(--dark-grey);
}
.grey{
    background-color: var(--grey);
}
.yellow{
    background-color: var(--yellow);
}
.right-border {
    border-right: 2px solid var(--black);
}
.square-text-tile{
    border: 3px solid var(--black);
    padding: 0.5em;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--white);
    margin-top: 30px;
}
.tile-tittle{
    font-size: 2.5rem;
    font-weight: 600;
}
.tile-text{
    padding: 0 25%;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: -0.28px;
    line-height: 1.8rem;
    min-height: 30%;
}
.tile-img{
    width: 50%;
    height: 40%;
    object-fit: contain;
    object-position: center;
    /* background-color: var(--black); */
}
.tile-button-text{
    background-color: var(--black);
    font-size: 1rem;
    font-weight: 700;
    color: var(--white);
    padding: 1em 2em;
    border-radius: 2em 2em 2em 2em;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.2s;
    border: 2px solid var(--black);
}   
.tile-button-text:hover{
    color: var(--black);
    background-color: var(--white);
}
.text-bar-small{
    font-size: 1.5rem;
}
.FAQ-section{
    width: 100%;
    height: calc(150vh + 200px);
    display: flex;
    flex-direction: column;
}
.black-bar{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--black);
}
.black-bar-text{
    font-size: 1rem;
    color: var(--white);
    font-weight: 600;
    text-align: start;
    max-width: 40%;
}
.black-bar-text-border {
    font-size: 1rem;
    color: var(--white);
    font-weight: 600;
    border-bottom: 2px solid var(--white);
    cursor: pointer;
    transition: 0.2s;
}
.black-bar-text-border:hover{
    color: var(--yellow);
}
.FAQ{
    width: 100%;
    height: calc(100% - 200px);
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.FAQ-left{
    width: 50%;
    height: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.square-text-FAQ{
    border: 3px solid var(--black);
    margin: 1.5% 0;
    padding: 0.5em;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--white);
}
.FAQ-title{
    font-size: 3rem;
    color: white;
    font-weight: 600;
    margin: 1.5% 0;
    -webkit-text-fill-color: var(--white);
    -webkit-text-stroke: 2px var(--black);
    text-align: center;
}
.FAQ-frame{
    height: 60vh;
    margin: 5% 0;
    width: 55%;
    border: 2px solid var(--black);
    background-color: var(--grey);
    transition: 0.7s;
}
.FAQ-frame-on{
    transform: rotate(-5deg);
}
.FAQ-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.FAQ-text{
    margin: 1.5% 0;
    width: 80%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}
.FAQ-button{
    margin: 1.5% 0;
    font-weight: 700;
    font-size: 1rem;
    padding: 1em 5em;
    border: 2px solid var(--black);
    columns: var(--white);
    border-radius: 2em 2em 2em 2em;
    cursor: pointer;
    transition: 0.2s;
}
.FAQ-button:hover{
    background-color: var(--black);
    color: var(--white);
}
.FAQ-right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.FAQ-list{
    border: 2px solid var(--black);
    border-bottom: none;
    width: 80%;
    max-height: 100%;
}
.FAQ-list-head{
    overflow: visible;
    height: 90px;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1em;
}

.FAQ-list-element{
    height: 75px;
    width: 100%;
    border-bottom: 2px solid var(--black);
    cursor: pointer;
    transition: 0.2s;
    overflow: hidden;
}
.FAQ-list-element-header{
    height: 75px;
    width: 100%;
    position: relative;
    user-select: none;
    pointer-events: none;
}
.FAQ-list-element-title{
    height: 100%;
    width: 100%;
    color: var(--black);
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin: auto 0; */
    position: relative;
    user-select: none;
    pointer-events: none;
}
.FAQ-arrow{
    position: absolute;
    width: 5%;
    height: 75px;
    background: transparent;
    top: 0;
    right: 10px;
    z-index: 3;
    cursor: pointer;
    user-select: none; 
    user-select: none;
    pointer-events: none;
}
  .FAQ-arrow::after{
    content: "";
    background-color: transparent;
    height: 6px;
    width: 6px;
    border-top: 2px solid var(--black);
    border-right: 2px solid var(--black);
    top: 50%;
    right: 0;
    position: relative;
    z-index: 4;
    display: block;
    transform: rotate(-135deg) translate(+50%, -50%);
    transform-origin: top right;
    transition: 0.5s;
    user-select: none;
    pointer-events: none;
}
.FAQ-list-element-content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    user-select: none;
    pointer-events: none;
}
.FAQ-list-text {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--black);
    width: 100%;
    padding-bottom: 30px;
    padding-left: 2em;
    padding-right: 2em;
    user-select: none;
    pointer-events: none;
}
.FAQ-list-text-border-wraper{
    width: 100%;
    height: auto;
    padding-left: 2.4em;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
}
.FAQ-list-text-border {
    font-size: 1rem;
    color: var(--black);
    font-weight: 700;
    border-bottom: 2px solid var(--black);
    user-select: none;
    pointer-events: none;
    cursor: pointer;
}
.FAQ-arrow-on::after{
    transform: rotate(-225deg) translate(+50%, -50%);
}
.tile-section-2{
    width: 100%;
    height: calc(200vh + 200px);
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid var(--black);
}
.black{
    background-color: var(--black);
}
.blue{
    background-color: var(--blue);
}
.square-text-tile-2{
    border: 3px solid var(--black);
    padding: 0.5em;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--white);
    margin-top: 30px;
}
.tile-tittle-2{
    font-size: 2.5rem;
    font-weight: 600;
}
.tile-text-2{
    padding: 0 15%;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: -0.28px;
    line-height: 1.8rem;
    min-height: 30px;
}
.tile-img-2{
    object-position: top;
    object-fit: cover;
    width: calc(100% - 4rem);
    height: 40%;
    background-color: var(--black);
    border: 2px solid var(--black);
}
.mar-b{
    margin-bottom: 2rem;
}
.mar-t{
    margin-top: 2rem;
}
.tile-button-text-2{
    background-color: var(--black);
    font-size: 1rem;
    font-weight: 700;
    color: var(--white);
    padding: 1em 2em;
    border-radius: 2em 2em 2em 2em;
    margin: 0 0 30px 0;
    cursor: pointer;
    transition: 0.2s;
    border: 2px solid var(--black);
}   
.tile-button-text-2:hover{
    color: var(--black);
    background-color: var(--white);
}
.white-button{
    border-color: var(--white);
}
.big-bar{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid var(--black);
    border-top: 2px solid var(--black);
    padding: 50px 0;
}
.bar-square-text{
    border: 3px solid var(--black);
    padding: 0.5em;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--white);
}
.bar-title{
    font-size: 2.5rem;
    font-weight: 600;
}
.bar-text{
    padding: 0 25%;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: -0.28px;
    line-height: 1.8rem;
}
.bar-button{
    background-color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    color: var(--black);
    padding: 1em 5em;
    border-radius: 2em 2em 2em 2em;
    cursor: pointer;
    transition: 0.2s;
    border: 2px solid var(--black);
}
.bar-button:hover{
    background-color: var(--black);
    color: var(--white);
}
.slider {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15rem;
    font-weight: 700;
    position: relative;
}
.slider-dots{
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: 40px;
    overflow: hidden;
}
.slider-dot{
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}
.slider-dot-on{
    background-color: var(--black);
    color: var(--white);
}
.slider-main-part{
    transition: 0.2s;
    width: 500%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: flex;
}
.slide{
    width: 20%;
    height: 100%;
    display: flex;
}
.slide-tile{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.slide-squar-text{
    border: 3px solid var(--black);
    padding: 0.5em;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--white);
    margin-left: 2rem;
    margin-top: 2rem;
}
.slide-text-wraper{
    width: 100%;
    height: auto;
    margin: auto;
    padding-left: 2rem;
    padding-right: 4rem;
}
.slide-big-text{
    font-size: 1.7rem;
    font-weight: 500;
    text-align: start;
    margin-bottom: 2rem;
}
.slide-small-text{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: start;
}
.slide-tile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:top;
}
footer{
    height: 200vh;
    width: 100%;
    background-color: var(--black);
}
.footer-animation {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.footer-animation-square{
    border: 3px solid var(--white);
    color: var(--white);
    padding: 0.5em;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--black);
}
.footer-animation-tittle{
    color: var(--white);
    font-weight: 600;
    font-size: 3rem;
}
.footer-animation-text{
    color: var(--white);
    max-width: 40%;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}
.footer-animation-wraper{
    background-color: var(--black);
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.footer-animation-img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: center;
}
.footer-animation-button{
    background-color: var(--yellow);
    font-size: 1rem;
    font-weight: 600;
    color: var(--black);
    padding: 1.5em 8em;
    border-radius: 3em 3em 3em 3em;
    cursor: pointer;
    transition: 0.2s;
}
.footer-animation-button:hover{
    background-color: var(--blue);
}
.footer-info{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.footer-info-main{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer-info-wraper{
    width: 20%;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 7%;
    height: auto;
}
.footer-info-head{
    list-style: none;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 600;
    margin: 2rem 0;
}
.footer-info-text{
    list-style: none;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 0;
    cursor: pointer;
    transition: 0.2s;
}
.footer-info-text:hover{
    color: var(--yellow);
}
.footer-info-logo{
    width: 50%;
    height: 50%;
    position: relative;
}
.footer-info-logo-img{
    width: 100px;
    height: 100px;
    filter: invert(1);
    position: absolute;
    left: 3rem;
    bottom: 6rem;
}
.footer-info-logo-text{
    font-size: 3rem;
    color: var(--white);
    font-weight: 700;
    position: absolute;
    bottom: 9rem;
    left: calc(4rem + 100px);
}
.footer-info-logo-text-outline{
    font-size: 3rem;
    color: var(--white);
    font-weight: 700;
    position: absolute;
    bottom: 6rem;
    left: calc(4rem + 100px);
    -webkit-text-fill-color: var(--black);
    -webkit-text-stroke: 2px var(--white);
}
.footer-info-socials{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 2rem;
    padding-bottom: 4rem;
}
.footer-info-info{
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--white);
    margin-right: 2rem;
    cursor: pointer;
}

@media screen and (max-height: 1300px) {
    .FAQ-section{
        height: calc(200vh + 200px);
    }
}
@media screen and (max-height: 750px) {
    .top-poster-wraper{
        height: 95vh;
    }
    .middle-poster-wraper{
        height: 95vh;
    }
}
@media screen and (max-width: 1200px) {
    :root{
        font-size: 12px;
    }
}
@media screen and (max-width: 1000px) {
    :root{
        font-size: 16px;
    }
    .nav-center{
        position: absolute;
        left: 100%;
        left: 0;
        width: 100%;
        height: 25%;
        z-index: 200;
        top: -100%;
        background-color: var(--white);
        flex-direction: column;
        transition: 0.2s;
    }
    .right-nav{
        flex-direction: column;
        position: absolute;
        left: 100%;
        left: 0;
        top: -100%;
        width: 100%;
        height: 25%;
        z-index: 200;
        background-color: var(--white);
        transition: 0.2s;
        border-bottom: 2px solid var(--black);
    }
    .log-wraper{    
        margin-right: 0;
        justify-content: center;
    }
    .nav-button-wraper{
        margin-right: 0;
        justify-content: center;
    }
    .right-nav-on{
        top: 24%;
    }
    .nav-center-on{
        top: 0;
    }
    .nav-mobile-button-wraper{
        width: 80px;
        height: 80px;
        background-color: transparent;
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 201;
    }
    .nav-mobile-button, .nav-mobile-button::after, .nav-mobile-button::before {
        display: block;
        position: absolute;
        background-color: var(--black);
        height: 4px;
        width: 30px;
        z-index: 201;
    }
    .nav-mobile-button::after{
        content: '';
        margin-top: 8px;
    }
    .nav-mobile-button::before{
        content: '';
        margin-top: -8px;
    }
    .tile-section-1{
        flex-direction: column;
        height: calc(200vh + 200px);
    }
    .FAQ-section{
        height: calc(230vh + 200px);
    }
    .FAQ{
        flex-direction: column;
    }
    .tile-section-2{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    main{
        height: 150vh;
    }
    .banner-text-wraper{
        width: 100%;
        justify-content: flex-start;
        padding-top: 10%;
    }
    .top-poster-wraper{
        width: 50%;
        height: 60vh;
        top: 30%;
        left: 45%;
    }
    .middle-poster-wraper{
        width: 50%;
        height: 60vh;
        top: 50%;
        left: 5%;
    }
    .tile{
        width: 100%;
        height: 50vh;
    }
    .right-border{
        border-right: none;
    }
    .FAQ-frame{
        width: 50vh;
    }
    .FAQ-right{
        width: 100%;
    }
    .slide{
        flex-direction: column-reverse;
        /* align-items: center;
        justify-items: center; */
    }
    .slide-tile{
        width: 90%;
        height: 25%;
        /* margin-top: 5%; */
        margin-left: 5%;
        margin-right: 5%;
        /* border: 2px solid var(--black); */
    }
    .slide-tile-mobile{
        height: 67%;
        margin-top: 2%;
        border: 2px solid var(--black);
    }
    .slider-dots{
        left: auto;
        bottom: 2rem;
        right: 2rem;
    }
}
@media screen and (max-width: 1000px) {
    .text-bar{
        font-size: 1.5rem;
    }
    .top-poster-wraper{
        height: 50vh;
    }
    .middle-poster-wraper{
        height: 50vh;
    }
    .tile-section-2{
        height: calc(220vh + 200px);
    }
    .slider{
        height: calc(120vh - 100px);
    }
    footer{
        height: 250vh;
    }
    .footer-info{
        height: 150vh;
    }
    .footer-info-main{
        flex-wrap: wrap;
        height: 80%;
    }
    .footer-info-logo{
        width: 100%;
        height: 15%;
    }
    .footer-info-socials{
        width: 100%;
        height: 5%;
        justify-content: flex-start;
        padding-right: 0;
        padding-left: 3.5rem;
    }
}
@media screen and (max-width: 500px) {
    :root{
        font-size: 12px;
    }
    .right-nav-on{
        top: 24.90%;
    }
    .text-banner{
        font-size: 2.5rem;
    }
    .top-poster-wraper{
        height: 40vh;
        top: 30%;
        width: 60%;
        left: 35%;
    }
    .middle-poster-wraper{
        height: 40vh;
        top: 55%;
        width: 60%;
    }
    .tile-text{
        padding: 0 2rem;
    }
    .FAQ-section{
        height: 280vh;
    }
    .black-bar{
        align-items: flex-end;
        flex-direction: column;
        height: 200px;
    }
    .black-bar-text{
        max-width: 95%;
        margin: 0 2.5%;
    }
    .black-bar-text-border{
        margin-right: 3rem;
    }
    .FAQ-left{
        width: 100%;
        margin: 0 2rem;
    }
    .FAQ-frame{
        width: 80%;
        height: 50vh;
    }
    .FAQ-text{
        width: 100%;
    }
    .FAQ-list{
        width: 95%;
    }
    .slide-big-text{
        font-size: 1.5rem;
    }
    .square-text-tile-2{
        margin-top: 1em;
    }
    .tile-text-2{
        padding: 0 1em;
    }
    .tile-button-text-2{
        margin-bottom: 1em;
    }
    footer{
        height: 220vh;
    }
    .footer-info-wraper{
        width: 50%;
    }
    .footer-animation{
        height: 70vh;
    }
    .footer-animation-text{
        max-width: 95%;
    }
    .text-bar-small{
        text-align: center;
    }
}
@media screen and (max-width: 370px) {
    .nav-name{
        font-size: 2.5rem;
    }
    .nav-mobile-button-wraper{
        top: 10px;
        right: 0;
    }
    .tile{
        height: 80vh;
    }
    .tile-section-2{
        height: calc(280vh + 200px);
    }
    .tile-section-1{
        height: calc(320vh + 200px);
    }
    .text-bar{
        margin: 1rem 0;
        text-align: center;
    }
    .slider-dots{
        bottom: 0;
        right: 0;
        width: 120px;
    }
    .slider-dot{
        width: 26px;
        height: 26px;
    }
    .slide-text-wraper{
        padding: 0;
    }
}
@media screen and (max-height: 760px) {
    .FAQ-section{
        height: 300vh;
    }
    footer{
        height: 280vh;
    }
    .footer-info{
        height: 210vh;
    }
    .slider{
        height: 100vh;
    }
    .slide-tile{
        height: 50%;
    }
    .slide-tile-mobile{
        height: 50%;
    }
    .top-poster-wraper{
        top: 40%;
    }
    .middle-poster-wraper{
        top: 65%;
    }
}
@media screen and (max-height: 690px) {
    .FAQ-section{
        height: 400vh;
    }
}